
/Temp
/obj
/Library
/Logs
/.idea
*.csproj
*.sln
/UserSettings
/Assets/06_Essentials/Sirenix
/Recordings
.vs/BlockPuzzleLevelEditor/FileContentIndex/d1483b0e-ee96-4c27-8609-1eab7fb1a10b.vsidx
.vs/BlockPuzzleLevelEditor/FileContentIndex/1cfd326a-06ed-4f0c-ab9b-c11bbfa9129b.vsidx
.vs/BlockPuzzleLevelEditor/FileContentIndex/31739a00-3218-459b-ad1f-4c734f3d20c2.vsidx
.vs/BlockPuzzleLevelEditor/FileContentIndex/36f64215-2beb-47f0-b3ac-ed8259d60ba7.vsidx
.vs/BlockPuzzleLevelEditor/v17/.suo
.vs/BlockPuzzleLevelEditor/v17/DocumentLayout.backup.json
.vs/BlockPuzzleLevelEditor/v17/DocumentLayout.json
.vs/BlockPuzzleLevelEditor/v17/fileList.bin
.vs/BlockPuzzleLevelEditor/FileContentIndex/3b284b84-322e-4d3f-9861-913aa829461f.vsidx
.vs/BlockPuzzleLevelEditor/FileContentIndex/ede0d9c0-8f2c-4921-99cc-a3a64015d977.vsidx
*.vsidx
*.vsidx
Assets/GUI Pro - Casual Game v4.0.2 (Mar 26 2024)/GUI Pro - Casual Game v4.0.2 (Mar 26 2024).unitypackage
